
.icon-heart:before { content: '\e800'; } /* '' */
.icon-cloud:before { content: '\e801'; } /* '' */
.icon-flash:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-note-beamed:before { content: '\e804'; } /* '' */
.icon-music:before { content: '\e805'; } /* '' */
.icon-pinterest:before { content: '\e806'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-forward:before { content: '\e800'; } /* '' */
.icon-reply:before { content: '\e801'; } /* '' */